body{
    background-color: #121212;
}

.code{
    background-color: #121212;
    color: yellow;
}

.card {
    background: rgba(0, 0, 0, 0.7)
}

.card.p-3 h4, 
.card.p-3 label,
.card.p-3 p {
    color: white;
}
